/* You can add global styles to this file, and also import other style files */
//Import Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

//Define Color Palette
$amethyst: #9966cc;
$purple: #7c49d7;
$light-purple: #beb2f6;
$light: #f8f8f8;
$dark-purple: #492464;

//Update Bulma global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;

$link: $light-purple;

//Update Bulma component variables
$control-border-width: 2px;
$import-border-color: transparent;
$input-shadow: none;


@import '../node_modules/bulma/bulma.sass';

//Custom global styles

html {
  background: linear-gradient(to right top, $amethyst, $purple);
}

html, body {
  height: 100%;
}

.centered-content {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-box {
  min-height: 150px;
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 21px;
  border-radius: 8px;
}

.title {
  font-family: 'Lato', serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

