.modal-box {
  min-height: 150px;
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 21px;
}

.title {
  font-family: 'Lato', serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
